<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Detail</title>
</head>
<body>
<form action="#" th:action="@{/thymeleaf/update/{id}(id=${user.id})}" th:object="${user}" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" th:field="*{name}">
    <label for="password">Password</label>
    <input type="text" name="password" id="password" th:field="*{password}">
    <input type="submit" value="Create">
</form></body>
</html>